assets/bosses/**/*.gif filter=lfs diff=lfs merge=lfs -text
assets/bosses/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/bosses/**/*.png filter=lfs diff=lfs merge=lfs -text
assets/classes/**/*.gif filter=lfs diff=lfs merge=lfs -text
assets/classes/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
assets/classes/**/*.png filter=lfs diff=lfs merge=lfs -text
